<div id="home" class="d-flex flex-column">

    <header class="header-paddle bg-primary p-0">
        <img src="img/img-header-1.jpg" class="img-fluid rounded" alt="imagen raqueta padel">
    </header>


    <div class="p-0 flex-column m-0">

        <section class="d-flex flex-row flex-nowrap  my-4">

            <article class="card col p-0">
                <h4 class="card-header bg-primary text-center text-light">Clases</h4>
                <div class="card-body">
                    <p>El conjunto de monitores más cualificados se encargará de darte la
                        formaci&oacute;n en cuanto a
                        técnica requerida
                        en este deporte. Las clases pr&aacute;cticas te permiti&aacute;n
                        interiorizar los movimientos
                        adecuados como si fuesen naturales.</p>
                    <p>Las clases colectivas convierten las clases en un espacio din&aacute;mico
                        en el que jugar se
                        convierte en una actividad placentera y divertida.</p>
                </div>
                <img class="card-img-top" src="./img/img-card-1.jpg" alt="Card image cap">
            </article>
            <article class="card col mx-4 p-0">
                <h4 class="card-header bg-primary text-center text-light">Entrenamientos personalizados</h4>
                <div class="card-body">
                    <p>Si te sientes un campe&oacute;n, de verdad lo eres o simplemente quieres
                        avanzar r&aacute;pidamente en la t&eacute;cnica que rodea a este deporte
                        te podemos configurar sesiones de entranamiento a tu medida con un
                        entrenador personal que se encargará de: </p>
                    <ul>
                        <li>Enseñarte la t&eacute;cnica adecuada para mejorar tus golpes</li>
                        <li>Enseñarte a combinar la potencia con la t&eacute;cnica</li>
                        <li>Mostrarte como mejorar el rendimiento en equipo</li>
                        <li>Explicarte como utilizar la presi&oacute;n de los campeonatos en tu
                            beneficio
                        </li>
                    </ul>
                </div>
            </article>

            <article class="card col p-0">
                <h4 class="card-header bg-primary text-center text-light">Campeonatos</h4>
                <div class="card-body">
                    <p>El club organiza campeonatos peri&oacute;dicos en los que te puedes
                        divertir al mismo tiempo que mejoras en el deporte. Tenemos campeonatos
                        de un d&iacute;a, de fin de semana y ligas regulares. Puedes participar
                        en los torneos masculinos, femeninos y mixtos</p>

                </div>
                <img class="card-img-top" src="img/img-card-3.jpg" alt="Card image cap">
            </article>

        </section>


    </div>


</div>