<div id="register">
    <div class ="container p-0">
        <form role="form" class="col-8 mx-auto shadow-sm mt-4 py-4" id="arooly_cform">

            <div class="form-group">
                <label for="inputName">Usuario</label>
                <div class="input-group Name">
                    <input type="text" class="form-control" id="inputName" name="inputName" placeholder="Identificador de usuario">
                </div>
            </div>

            <div class="form-group">
                <label for="inputEmail">Correo</label>
                <div class="input-group email">
                    <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="inputKey">Clave</label>
                <div class="input-group phone">
                    <input type="password" class="form-control" id="inputKey" name="inputKey" placeholder="Clave">
                </div>
            </div>

            <div class="form-group">
                <label for="inputKey">Repita Clave</label>
                <div class="input-group phone">
                    <input type="password" class="form-control" id="inputKeybis" name="inputKeybis" placeholder="Repita clave">
                </div>
            </div>

            <div class="form-group">
                <label for="inputDate">Fecha de nacimiento</label>
                <div class="input-group date">
                    <input type="date" class="form-control id="inputDate" name="inputDate" placeholder="Enter date">
                </div>
            </div>

            <div class="col d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>

        </form>
    </div>
</div>